<!DOCTYPE html5>
<html>
	<head><%include partials/template/head.ejs%></head>
	<body>
		<%include partials/template/header.ejs%>

		<%include partials/template/register.ejs%>

		<%include partials/content/popular.ejs%>
		<%include partials/content/sale.ejs%>

		<%include partials/template/footer.ejs%>

		<%include partials/template/jsdefaults.ejs%>
	</body>
</html>
