<footer class="footer">
    <div class="container">
      <p> Wenlan Tian © 2015  </P>
        <a href="https://www.linkedin.com/pub/wenlan-tian/55/a23/935"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/tianwenlan"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com/wenlan.tian"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/tianwenlan"><i class="fa fa-twitter"></i></a>
        <a href="mailto:tianwenlan@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
</footer>